Repository CS2103-AY1819S1-F11-4/main, pull requests merged in 2018-10, with the labels that each got.

#36 add some test for AddTimetableCommand
  docs/UserGuide.adoc
  src/main/java/seedu/address/logic/commands/AddTimetableCommand.java
  src/main/java/seedu/address/logic/commands/DownloadTimetableCommand.java
  src/main/java/seedu/address/logic/parser/AddTimetableCommandParser.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/DownloadTimetableCommandParser.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/person/Person.java
  src/main/java/seedu/address/model/person/timetable/Timetable.java
  src/main/java/seedu/address/model/person/timetable/TimetableData.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/resources/view/HorizontalTimetable.fxml
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/AddTimetableCommandTest.java
  src/test/java/seedu/address/testutil/EditPersonDescriptorBuilder.java
Labels: feature.Timetable

#67 this commit resolves #39 - Update UserGuide
  docs/UserGuide.adoc
  src/main/java/seedu/address/logic/commands/CreateCommand.java
  src/main/java/seedu/address/model/accounts/Accounts.java
Labels: feature.Security

#88 timetable v1.2
  src/main/java/seedu/address/logic/commands/AddTimetableCommand.java
  src/main/java/seedu/address/logic/commands/DownloadTimetableCommand.java
  src/main/java/seedu/address/model/person/Person.java
  src/main/java/seedu/address/model/person/timetable/Timetable.java
  src/main/java/seedu/address/model/person/timetable/TimetableData.java
  src/test/java/seedu/address/logic/commands/AddTimetableCommandTest.java
Labels: feature.Timetable

#95 Timetable v1.2 resolves issue #66 -8
  docs/images/happytreat.png
  src/main/java/seedu/address/logic/commands/DeleteTimetableCommand.java
  src/test/java/seedu/address/logic/commands/DeleteTimetableCommandTest.java
Labels: feature.Timetable

#97 Update developer guide
  docs/DeveloperGuide.adoc
  docs/images/SecurityMechanismActivityDiagram.png
  docs/images/Ui.png
Labels: AwaitingReview.ReadyForMerge

#98 add diagram and edit developer guide for timetable
  docs/DeveloperGuide.adoc
  docs/images/addTimetable-step-1.png
  docs/images/addTimetable-step-2.png
  docs/images/addTimetable-step-3.png
  docs/images/addtimetablediagram.png
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/commands/AddTimetableCommand.java
Labels: feature.Timetable

#117 UG & DG: Friend Features
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
Labels: AwaitingReview.ReadyForMerge

#123 this commit resolves #82, #94, #107, #108, #122
  .attach_pid23512
  .attach_pid25016
  .attach_pid26888
  .attach_pid26967
  .attach_pid27073
  .attach_pid27219
  src/main/java/seedu/address/logic/commands/AddCommand.java
  src/main/java/seedu/address/logic/commands/AddGroupCommand.java
  src/main/java/seedu/address/logic/commands/CommandUtil.java
  src/main/java/seedu/address/logic/commands/DeleteGroupCommand.java
  src/main/java/seedu/address/logic/commands/DeleteMemberCommand.java
  src/main/java/seedu/address/logic/commands/ListCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/ListCommandParser.java
  src/main/java/seedu/address/model/person/Person.java
  src/test/java/seedu/address/commons/util/XmlUtilTest.java
  src/test/java/seedu/address/logic/commands/AddGroupCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/AddGroupCommandTest.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/commands/DeleteGroupCommandTest.java
  src/test/java/seedu/address/logic/commands/ViewGroupCommandTest.java
  src/test/java/seedu/address/model/AddressBookTest.java
  src/test/java/seedu/address/model/ModelManagerTest.java
  src/test/java/seedu/address/model/VersionedAddressBookTest.java
  src/test/java/seedu/address/testutil/AddressBookBuilder.java
  src/test/java/seedu/address/testutil/GroupBuilder.java
Labels: AwaitingReview.ReadyForMerge, feature.Groups

#125 V1.3 DeveloperGuide: Update 'find' feature
  docs/DeveloperGuide.adoc
  docs/images/FindFeature1.png
Labels: AwaitingReview.ReadyForMerge

#129 update developer guide (security implementation) with sequence diagram
  docs/DeveloperGuide.adoc
  docs/images/CreateCommandSequenceDiagram.png
  docs/images/LoginCommandSequenceDiagram.png
Labels: AwaitingReview.ReadyForMerge, feature.Security

#121 Ttv1.3 resolves issues #100 -3,4,5
  build.gradle
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/addTimetable-step-1.png
  docs/images/addTimetable-step-3.png
  docs/images/addtimetablediagram.png
  docs/images/timetableworkflow.png
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/commands/AddTimetableCommand.java
  src/main/java/seedu/address/logic/commands/DeleteTimetableCommand.java
  src/main/java/seedu/address/logic/commands/DownloadTimetableCommand.java
  src/main/java/seedu/address/logic/commands/EditTimetableCommand.java
  src/main/java/seedu/address/logic/parser/AddTimetableCommandParser.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/ArgumentMultimap.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/DownloadTimetableCommandParser.java
  src/main/java/seedu/address/logic/parser/EditTimetableCommandParser.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/person/Person.java
  src/main/java/seedu/address/model/person/timetable/Timetable.java
  src/main/java/seedu/address/model/person/timetable/TimetableData.java
  src/main/resources/view/Timetable.html
  src/test/java/seedu/address/logic/commands/AddTimetableCommandTest.java
  src/test/java/seedu/address/logic/commands/DeleteTimetableCommandTest.java
  unused/downloadtimetableaspng.txt
Labels: AwaitingReview.ReadyForMerge, feature.Timetable

#120 v1.3 Timetable slots
  docs/UserGuide.adoc
  src/main/java/seedu/address/logic/commands/ViewGroupAvailableTimeslotCommand.java
  src/main/java/seedu/address/logic/commands/ViewGroupRankedAvailableTimeslotCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/ViewGroupAvailableTimeslotCommandParser.java
  src/main/java/seedu/address/logic/parser/ViewGroupRankedAvailableTimeslotCommandParser.java
  src/main/java/seedu/address/model/group/Group.java
  src/main/java/seedu/address/model/person/timetable/TimetableData.java
Labels: AwaitingReview.ReadyForMerge, feature.Timeslot

#130 this pr resolves issue #100 1,6
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/commands/AddTimetableCommand.java
  src/main/java/seedu/address/logic/commands/CommandUtil.java
  src/main/java/seedu/address/logic/commands/DeleteCommand.java
  src/main/java/seedu/address/logic/commands/DeleteTimetableCommand.java
  src/main/java/seedu/address/logic/commands/DownloadTimetableCommand.java
  src/main/java/seedu/address/logic/commands/EditTimetableCommand.java
  src/main/java/seedu/address/logic/parser/AddCommandParser.java
  src/main/java/seedu/address/logic/parser/EditTimetableCommandParser.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/person/Person.java
  src/main/java/seedu/address/model/person/timetable/Timetable.java
  src/main/java/seedu/address/model/person/timetable/TimetableData.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/storage/XmlAdaptedPerson.java
  src/main/resources/view/default.html
  src/test/java/seedu/address/commons/util/XmlUtilTest.java
  src/test/java/seedu/address/logic/commands/AddTimetableCommandTest.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/commands/DeleteCommandTest.java
  src/test/java/seedu/address/logic/commands/DeleteTimetableCommandTest.java
  src/test/java/seedu/address/logic/commands/DownloadTimetableCommandTest.java
  src/test/java/seedu/address/logic/commands/EditTimetableCommandTest.java
  src/test/java/seedu/address/logic/parser/AddTimetableCommandParserTest.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
  src/test/java/seedu/address/logic/parser/DeleteTimetableCommandParserTest.java
  src/test/java/seedu/address/logic/parser/DownloadTimetableCommandParserTest.java
  src/test/java/seedu/address/logic/parser/EditTimetableCommandParserTest.java
  src/test/java/seedu/address/model/person/timetable/TimetableDataTest.java
  src/test/java/seedu/address/model/person/timetable/TimetableTest.java
  src/test/java/seedu/address/storage/XmlAdaptedPersonTest.java
  src/test/java/seedu/address/testutil/EditPersonDescriptorBuilder.java
  src/test/java/seedu/address/testutil/PersonBuilder.java
  src/test/java/seedu/address/testutil/TypicalPersons.java
  src/test/java/seedu/address/ui/PersonListPanelTest.java
Labels: WIP.NotReadyForMerge, feature.Timetable

#139 this commit resolves #135, #138
  src/main/java/seedu/address/logic/commands/CommandUtil.java
  src/main/java/seedu/address/logic/commands/DeleteMemberCommand.java
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/logic/commands/EditGroupCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
Labels: AwaitingReview.ReadyForMerge, feature.Friends, feature.Groups, severity.High, type.Bug

#140 this commit resolves #100 1,6
  .travis.yml
  build.gradle
  docs/Timetable.html
  docs/UserGuide.adoc
  src/main/java/seedu/address/logic/commands/DeleteTimetableCommand.java
  src/main/java/seedu/address/logic/commands/DownloadTimetableCommand.java
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/logic/parser/EditCommandParser.java
  src/main/java/seedu/address/model/person/Person.java
  src/main/java/seedu/address/ui/PersonCard.java
  src/main/resources/view/PersonListCard.fxml
  src/test/java/seedu/address/logic/commands/DownloadTimetableCommandTest.java
Labels: feature.Timetable, priority.High, severity.High, type.Bug

#147 update timetable function
  build.gradle
  docs/onlineTimetable.html
  src/main/java/seedu/address/logic/commands/AddTimetableCommand.java
  src/main/java/seedu/address/logic/commands/DeleteTimetableCommand.java
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/logic/commands/EditTimetableCommand.java
  src/main/java/seedu/address/logic/parser/AddCommandParser.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/EditCommandParser.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/person/Person.java
  src/main/java/seedu/address/model/person/timetable/Timetable.java
  src/main/java/seedu/address/model/person/timetable/TimetableData.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/storage/XmlAdaptedPerson.java
  src/main/java/seedu/address/ui/BrowserPanel.java
  src/main/resources/view/Timetable.html
  src/test/data/XmlAddressBookStorageTest/invalidAndValidPersonAddressBook.xml
  src/test/data/XmlSerializableAddressBookTest/duplicatePersonAddressBook.xml
  src/test/data/XmlSerializableAddressBookTest/invalidPersonAddressBook.xml
  src/test/data/XmlSerializableAddressBookTest/typicalPersonsAddressBook.xml
  src/test/data/XmlUtilTest/validAddressBook.xml
  src/test/java/guitests/guihandles/PersonCardHandle.java
  src/test/java/seedu/address/commons/util/XmlUtilTest.java
  src/test/java/seedu/address/model/person/timetable/TimetableDataTest.java
  src/test/java/seedu/address/storage/XmlAdaptedPersonTest.java
  src/test/java/seedu/address/testutil/EditPersonDescriptorBuilder.java
  src/test/java/seedu/address/testutil/PersonBuilder.java
  src/test/java/seedu/address/ui/BrowserPanelTest.java
  src/test/java/seedu/address/ui/PersonListPanelTest.java
Labels: AwaitingReview.ReadyForMerge, feature.Timetable
